body {
  background-color: #8fc0a9;
}

h1{
  color: #0f4c75;
}
h3{
  color: #f7e7bd;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: white;
  border-width: 5px;
  width: 5%;
}
